@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudHidden Breakpoint="Breakpoint.LgAndUp" Invert="true">
        <AppBar />
    </MudHidden>

    <MudHidden Breakpoint="Breakpoint.MdAndDown" Invert="true">
        <MobileAppBar DrawerToggle="DrawerToggle" />

        <MudSwipeArea Style="width: 100%;">
            <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
                <MudDrawerHeader>
                    <MudStack Row AlignItems="AlignItems.Center">
                         <MudImage Src="favicon.ico" />
                         <MudText Typo="Typo.h5" Class="mt-1">MasterPC</MudText>
                     </MudStack>
                 </MudDrawerHeader>
                 <NavMenu />
             </MudDrawer>
        </MudSwipeArea>
     </MudHidden>

     <MudMainContent Style="padding-top: 0px">
         @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    public bool _drawerOpen = false;

    public void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    public void OnSwipe(SwipeDirection direction)
    {
        if (direction == SwipeDirection.LeftToRight && !_drawerOpen)
        {
            _drawerOpen = true;
            StateHasChanged();
        }
        else if (direction == SwipeDirection.RightToLeft && _drawerOpen)
        {
            _drawerOpen = false;
            StateHasChanged();
        }
    }
}